In [23]:
import pandas as pd
data_frame = pd.read_csv('sample_data/complete.csv')
data_frame

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
0,2020-01-30,Kerala,10.8505,76.2711,1.0,0,0.0,0,0,0
1,2020-01-31,Kerala,10.8505,76.2711,1.0,0,0.0,0,0,0
2,2020-02-01,Kerala,10.8505,76.2711,2.0,0,0.0,1,0,0
3,2020-02-02,Kerala,10.8505,76.2711,3.0,0,0.0,1,0,0
4,2020-02-03,Kerala,10.8505,76.2711,3.0,0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
4687,2020-08-06,Telangana,18.1124,79.0193,73050.0,589,52103.0,2092,0,1289
4688,2020-08-06,Tripura,23.9408,91.9882,5725.0,31,3793.0,97,0,68
4689,2020-08-06,Uttar Pradesh,26.8467,80.9462,104388.0,1857,60558.0,4078,0,3287
4690,2020-08-06,Uttarakhand,30.0668,79.0193,8254.0,98,5233.0,246,0,386
4691,2020-08-06,West Bengal,22.9868,87.8550,83800.0,1846,58962.0,2816,0,2078

In [29]:
# data_frame.Date.add_prefix('Joined at ').count
print(data_frame.shape)
data_frame.head

(4692, 10)

<bound method NDFrame.head of             Date Name of State / UT  Latitude  Longitude  \
0     2020-01-30             Kerala   10.8505    76.2711
1     2020-01-31             Kerala   10.8505    76.2711
2     2020-02-01             Kerala   10.8505    76.2711
3     2020-02-02             Kerala   10.8505    76.2711
4     2020-02-03             Kerala   10.8505    76.2711
...          ...                ...       ...        ...
4687  2020-08-06          Telangana   18.1124    79.0193
4688  2020-08-06            Tripura   23.9408    91.9882
4689  2020-08-06      Uttar Pradesh   26.8467    80.9462
4690  2020-08-06        Uttarakhand   30.0668    79.0193
4691  2020-08-06        West Bengal   22.9868    87.8550

      Total Confirmed cases Death  Cured/Discharged/Migrated  New cases  \
0                       1.0     0                        0.0          0
1                       1.0     0                        0.0          0
2                       2.0     0                        0.0          1
3                       3.0     0                        0.0          1
4                       3.0     0                        0.0          0
...                     ...   ...                        ...        ...
4687                73050.0   589                    52103.0       2092
4688                 5725.0    31                     3793.0         97
4689               104388.0  1857                    60558.0       4078
4690                 8254.0    98                     5233.0        246
4691                83800.0  1846                    58962.0       2816

      New deaths  New recovered
0              0              0
1              0              0
2              0              0
3              0              0
4              0              0
...          ...            ...
4687           0           1289
4688           0             68
4689           0           3287
4690           0            386
4691           0           2078

[4692 rows x 10 columns]>

In [32]:
data_frame_v1 = pd.read_csv('sample_data/complete.csv')
data_frame_v1.to_csv('sample_data/processed.csv',index=False)